/* Created by lolo */

body {
	margin:0;
	position:fixed;
    background-color: black;
}
#textvalue{
	display:none;
    width: 100%;
    max-width: 100%;
    height: 200px;
    line-height: 200px;
}
#sorted{
	position:fixed;
	top:10px;
	left:10px;
	color:white;
}
#tsorted{
	position:fixed;
	top:10px;
	left:30px;
	color:white;
}
